<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">
                        Advantage SEO is a part of Advantage AI AB. We are a small consultancy for data science, machine learning, spark, artificial intelligence, and search engine optimization. 
                        We are based in Sweden, but with experience of SEO on a global scale and ready to take on clients in any country.
                        <br /><br/>
                        About Linnea Hubble (picture and social media links)
                        <br /><br />
                        Linnea Hubble is an experienced SEO professional with a soft spot for technical SEO. With over a decade as an SEO specialist for large web sites operating in multiple markets, she has dealt with a variety of complex SEO problems, in competitive industries such as travel and e-commerce. 
                        <br /><br >
                        Linnea has been working in-house at large companies, but also taken on a variety of smaller projects for many different types of organizations. 
                        <br /><br />
                        Linnea was a member of the jury for the Swedish SEO award in 2019. 
                        </h3>
                    <h3 class="section-subheading text-muted">
                        Email us, and we will get back to you ASAP.
                    </h3>
                </div>
            </div>
        </div>
    </section>
