<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <p class="col-lg-12"> <!--class="text-muted">-->
                        <!--We provide SEO consulting to fit your business needs. -->
                    </p>
                    <!--<h4>Data Science</h4>

                    <p class="col-lg-12"> 
                        Data science is an approach to solving problems using data in an iterative fashion.
                        An experienced data scientist identifies key business metrics and attaches these metrics to a solution.
                        Then, by using machine learning methods that target the identified metrics, the data scientist can optimize business goals directly.  
                    </p>
                    <p class="col-lg-12">
                        In practice it's not always a direct path, but this is where experience paysoff.-->
                        <!--We have found a few ways of working with our customers.  -->
                    <!--<ul class="col-lg-9 text-left">
                      <li>One, the three day package where we work together with you to find an ideal approach to solve the current business challenge with the most accessible data.  This gets processes focuses on measure the status quo of any current system and builds a proof of concept machine learning model to compare.</li>
                      <li> Two, hourly project based consulting is usually the case when a customer has a clear machine learning project in mind or already set up modelling processes.  
                      </li>
                      <li>
     Three, the proof of concept development or help. 
                      </li>
                      <li>
     Four, advisement on current process or laying the ground work for future data products.
                    </li>
                    </ul>
                    </p>
                    -->
                    <h4 class="section-subheading text-muted">We provide SEO consulting to fit your business needs</h4>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-compass fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">SEO Strategy</h4>
                    <p class="text-muted"> Setting up an SEO strategy requires analysis of the competitive landscape, analysis of your current position and potential, setting realistic goal, and a roadmap for what it takes to get there.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Technical SEO</h4>
                    <p class="text-muted">Many struggle with technical SEO issues and it may be difficult for a non-technical SEO professional and developers to understand each other. We have extensive experience working with developers on technical SEO challenges and together arrive at the best solution considering the current platform and setup.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">International SEO</h4>
                    <p class="text-muted">When expanding into new markets, its important to have a domain strategy, competition and market analysis, content strategy, and technical SEO implementation in order to achieve success. We have many years of experience with international SEO and can help make sure your business expansion succeeds.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-dashboard fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tools</h4>
                    <p class="text-muted">
                        We can help you evaluate, choose and set up SEO tools to fit your business needs and budget. This includes tools for rank tracking, technical SEO, link profile analysis and many others.
                   </p>
                </div>
            </div>
        </div>
    </section>
