<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <p class="col-lg-12"> <!--class="text-muted">-->
                        We provide data science consulting and leadership to fit your business needs.
                    </p>
                    <!--<h4>Data Science</h4>

                    <p class="col-lg-12"> 
                        Data science is an approach to solving problems using data in an iterative fashion.
                        An experienced data scientist identifies key business metrics and attaches these metrics to a solution.
                        Then, by using machine learning methods that target the identified metrics, the data scientist can optimize business goals directly.  
                    </p>
                    <p class="col-lg-12">
                        In practice it's not always a direct path, but this is where experience paysoff.-->
                        <!--We have found a few ways of working with our customers.  -->
                    <!--<ul class="col-lg-9 text-left">
                      <li>One, the three day package where we work together with you to find an ideal approach to solve the current business challenge with the most accessible data.  This gets processes focuses on measure the status quo of any current system and builds a proof of concept machine learning model to compare.</li>
                      <li> Two, hourly project based consulting is usually the case when a customer has a clear machine learning project in mind or already set up modelling processes.  
                      </li>
                      <li>
     Three, the proof of concept development or help. 
                      </li>
                      <li>
     Four, advisement on current process or laying the ground work for future data products.
                    </li>
                    </ul>
                    </p>
                    -->
                    <h4 class="section-subheading text-muted">Data Products and Solutions</h4>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Machine Learning</h4>
                    <p class="text-muted"> We design and build custom machine learning solutions; 
                        from logistic regression and random forests to deep neural networks. 
                        Machine learning can be used to solve many business challanges. 
                        ML can be used for automating tasks for an operations team, 
                        deciding the next lead to contact, 
                        which image or text to get the best CTR, 
                        or predicting if a customer may churn!

                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Science</h4>
                    <p class="text-muted">Data science is an approach to solving problems using data in an iterative fashion.
                        An experienced data scientist identifies key business metrics and attaches these metrics to a solution.
                        Then, by using machine learning methods that target the identified metrics, the data scientist can optimize business goals directly.
                    </p>
                    <!--<p class="text-muted">Investigating and digging deep into business challenges using data science and data mining is our bread and butter. </p>-->
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-dashboard fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Big Data</h4>
                    <p class="text-muted">
                        Solving problems big or small, slow or fast. 
                        Apache Spark, Elastic Search, Google Cloud, AWS and more.
                        We can help design systems that will help your business take advantage of data.
                        It's common common challenge to add data science and machine learning to an existing business. 
                        Closing the communication gap between infrastructure, development, business and management teams is
                         one of our specialties.
                   </p>
                </div>
            </div>
        </div>
    </section>
